##Задание 1

Использовался датасет **MovieLens Latest Datasets (full)**

In [ ]:
import pandas as pd

In [ ]:
df_movies = pd.read_csv('movies.csv')
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
df_ratings = pd.read_csv('ratings.csv')
df_ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [ ]:
df_ratings = df_ratings[ df_ratings.rating == 5.0 ]
df_group_by_rating = df_ratings.groupby(['movieId']).agg('sum').sort_values('rating', ascending=False)
df_group_by_rating.head()

         userId  rating     timestamp
movieId
318       70407   745.0  171638736530
296       49078   540.0  120090502818
356       47507   520.0  115374647074
260       43771   500.0  112577421443
858       46634   485.0  113630046109

In [ ]:
df_movies = df_movies[ df_movies.movieId == df_group_by_rating.index[0] ]
df_movies['title'].values[0]

'Shawshank Redemption, The (1994)'

##Задание 2

In [ ]:
df_power = pd.read_csv('power.csv')
df_power.head()

   country    year  quantity  category
0  Austria  1996.0       5.0       1.0
1  Austria  1995.0      17.0       1.0
2  Belgium  2014.0       0.0       1.0
3  Belgium  2013.0       0.0       1.0
4  Belgium  2012.0      35.0       1.0

In [ ]:
df_power.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426794 entries, 0 to 426793
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   country   426794 non-null  object
 1   year      426793 non-null  float64
 2   quantity  426793 non-null  float64
 3   category  426793 non-null  float64
dtypes: float64(3), object(1)
memory usage: 13.0+ MB

In [ ]:
df_filtered_power = df_power[ (df_power['country']=='Latvia') | (df_power['country']=='Lithuania') | (df_power['country']=='Estonia') ]
df_filtered_power = df_filtered_power[ (df_filtered_power['category']==4) | (df_filtered_power['category']==12) | (df_filtered_power['category']==21)]
df_filtered_power = df_filtered_power[ (df_filtered_power['year']>=2005) & (df_filtered_power['year']<=2010) ]
df_filtered_power = df_filtered_power[ (df_filtered_power['quantity']>0.0) ]
df_filtered_power.head()

         country    year  quantity  category
10617    Estonia  2008.0       1.0       4.0
10620    Estonia  2005.0       1.0       4.0
11156  Lithuania  2008.0       1.0       4.0
11158  Lithuania  2006.0       1.0       4.0
11159  Lithuania  2005.0       1.0       4.0

In [ ]:
df_filtered_power.quantity.sum()

240580.0

In [ ]:
df_filtered_power = df_power[ (df_power['country'].isin(['Latvia', 'Lithuania', 'Estonia'])) ]
df_filtered_power = df_filtered_power[ (df_filtered_power['category'].isin([4, 12, 21])) ]
df_filtered_power = df_filtered_power[ (df_filtered_power['year']>=2005) & (df_filtered_power['year']<=2010) ]
df_filtered_power = df_filtered_power[ (df_filtered_power['quantity']>0.0) ]
df_filtered_power.head()

         country    year  quantity  category
10617    Estonia  2008.0       1.0       4.0
10620    Estonia  2005.0       1.0       4.0
11156  Lithuania  2008.0       1.0       4.0
11158  Lithuania  2006.0       1.0       4.0
11159  Lithuania  2005.0       1.0       4.0

##Задание 3

In [ ]:
url = 'https://fortrader.org/currencyrates'
df_page = pd.read_html(url, attrs = {'class': 'items table table-bordered'}, encoding='utf-8')[0]
df_page.head()

   Код  Количество           Название       RUB  Изменение
0  USD         1.0         Доллар США   83.9866     0.3368
1  EUR         1.0               Евро   91.7966     0.1637
2  TJS        10.0  Таджикский сомони   76.9587     0.3107
3  CNY         1.0     Китайский юань   11.7153    -0.0177
4  GBP         1.0    Фунт стерлингов  107.6036     1.0087